
p{
    color: white;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight:bold;
}
span{
    letter-spacing: 1px;
}
#mobilenet{
    letter-spacing: 2px;
}
.bottom{
    position: fixed;
    color:white;
    bottom:0;
    width: 100%;
    background-color: black;
    line-height: 2;
    text-align: center;
}
.img{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
    border-radius: 10px;
}
b{
    color: purple;
}
.first,.second{
    background-color: white;
    border-radius: 10px;
    line-height: 2;
}
.test_image_and_result1,.test_image_and_result2,.test_image_and_result3,.test_image_and_result4,.test_image_and_result5,.test_image_and_result6,.test_image_and_result7,.test_image_and_result8,.test_image_and_result9{
    margin-top: 15px;
    background-color: rgb(155, 153, 153);
    border-radius: 10px;
    box-shadow: 1px 1px 25px grey;
    width:99%;
    margin-bottom: 15px;
}
.white1,.white2,.white3,.white4,.white5,.white6,.white7,.white8,.white9{
    color: white;

}
span{
    font-weight:bold;
}
.google_lens{
    color: black;
    font-weight:bold;
}
h4{
    color: white;
    font-weight: bold;
}
body
{
    font-family:cursive;
    

}
h6
{
    font-size:medium;
    font-weight: bold;
}
a
{
    color:white;
}
.google_lens
{
    font-size: 30px;
}
.mobilenet
{
    font-size: 30px;
}
#casewriten
{
    font-size: 25px;
}
.bottom1
{
    color: rgb(253, 253, 253);
    font-size: 25px;
}